<!DOCTYPE html>
<html>
<head>
    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <ul>
        <li><a href="~/Employees/Index">Home</a></li>
        <li class="drpdown">
            <a href="javascript:void(0)" class="dropbtn">Manage Employee</a>
            <div class="drpdown-content">
                <a href="~/Employees/Create">Create</a>
            </div>
        </li>
        <li><a href="#news">Login</a></li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Employee Management System</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
